.img{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    height: 100vh;
    gap: 5px;
}
/* img{
    width: 550px;
} */
/* .hh{
    position: absolute;
    top: 17.5%;
    left: 46%;
} */
.card{
  position: absolute;
  top: 39.5%;
  left: 24%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: 'Lato';
}
.card h3{
  color: #1a8ad4;
  font-weight: 700;
}
.card span{
    font-weight: 700;
}
.card1 span{
    font-weight: 700;
}
.card h4{
    font-weight: 500;

}
.card1 h4{
    font-weight: 500;
}
.card1{
  position: absolute;
  top: 49.5%;
  left: 44%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: 'Lato';
}
.table{
  position: absolute;
  top: 61.5%;
  left: 58.5%;
  font-family: 'Lato';
  width: 540px;
  /* background-color: #b5b5b5; */
  height: 170px;
}

.table table{
    border: 1px solid black;
 
}
.ttr th{
  background-color: transparent;
  border: 1px solid #b5b5b5;
  color: black;
padding: 0;  
}
.ttr td{
  background-color: transparent;
  border: 1px solid #b5b5b5;
  color: black;
padding: 0;  
}
tr:nth-child(even) {
    background-color:transparent;
} 
.img {
    text-align: center;
  }
  
  .img img {
    width: 550px;
    margin-bottom: 10px;
  }
  .print-btn{
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 120px;
    position: absolute;
    top: 600px;
    left: 800px;
}
  

  @media print {
    body * {
      visibility: hidden; 
    }
  .hh{
    visibility: visible;
    color: red;
  }
    .img, .img * {
      visibility: visible; /* Make only the images visible */
    }
  
    .img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  
    .print-btn {
      display: none; /* Hide the print button during printing */
    }
  }
  
  