.img{
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  height: 100vh;
  gap: 5px;
}
/* img{
  width: 550px;
} */
/* .hh{
  position: absolute;
  top: 17.5%;
  left: 46%;
} */
.card{
position: absolute;
top: 41%;
left: 29.5%;
text-align: left;
display: flex;
flex-direction: column;
gap: 11px;
font-family: 'Lato';
}

/*  */

.card h3{
color: #ff1a31;
font-weight: 700;
}
.card span{
  font-weight: 700;
}
.card1 span{
  font-weight: 700;
}
.card p{
  font-weight: 700;
font-size: 14px;
}
.card1 p{
  font-weight: 700;
font-size: 14px;
}
.card1 h4{
  font-weight: 500;
  font-size: 17px;
}
.card1{
position: absolute;
top: 49.5%;
left: 50.5%;
text-align: left;
display: flex;
flex-direction: column;
gap: 16px;
font-family: 'Lato';
}
.table{
position: absolute;
top: 61.8%;
left: 59.7%;
font-family: 'Lato';
width: 570px;
/* background-color: #b5b5b5; */
height: 170px;
}

.table table{
  border: 1px solid black;

}
.ttr th{
background-color: transparent;
border: 1px solid #b5b5b5;
color: black;
padding: 0;  
}
.ttr td{
background-color: transparent;
border: 1px solid #b5b5b5;
color: black;
padding: 0;  
font-size: 13px;
}
tr:nth-child(even) {
  background-color:transparent;
} 
.img {
  text-align: center;
}

.img img {
  width: 95%;
  margin-bottom: 10px;
}
.print-btn{
  margin-top: 50px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 120px;
  position: absolute;
  top: 600px;
  left: 800px;
}


@media print {
  body * {
    visibility: hidden; 
  }
.hh{
  visibility: visible;
  color: red;
}
  .img, .img * {
    visibility: visible; /* Make only the images visible */
  }

  .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .print-btn {
    display: none; /* Hide the print button during printing */
  }
}