.container2 {
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 60%; 
align-items: center;
  display: flex;
  flex-direction: column;

 



}

.pdf-container {
  border: 1px solid #ccc;
  padding: 20px;
  background: #fff;
}

.pdf-table {
  width: 100%;
  border-collapse: collapse;
}

.pdf-table th, .pdf-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
.pdf-table th {
  background-color: #cce6fc;
  font-weight: bold;
}

.header {
  text-align: center;
  padding-bottom: 20px;
}
.logo {
  width: 188px;
  height: auto;
  display: block;
  margin: 0 auto 15px;
}

.header h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}
.header p {
  font-size: 13px;
  text-align: center;
  margin: 2px 0;
}
.btn-container {
  text-align: right;
  margin-top: 20px;
}

.print-btn1 {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.print-btn:hover {
  background-color: #0056b3;
}
